<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}"
      xmlns:custom="http://www.w3.org/1999/xhtml"> <head>
    <meta charset="UTF-8">
    <title>List Products</title>
</head>
<body>
    <div layout:fragment="content" class="container body-content">
        <a th:href="@{/products/create}" class="btn btn-primary" style="margin-bottom: 10px;">Create New Product</a>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listproduct}">
                    <th scope="row" th:text="${product.id}"></th>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <img th:if="${product.image != null}" 
                            th:src="@{'/images/' + ${product.image}}" 
                            height="120" width="150" class="img-thumbnail"
                            alt="Product Image">
                        <span th:unless="${product.image != null}">No Image</span>
                    </td>
                    <td th:text="${product.category?.name}"></td>
                    <td>
                        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-secondary">Edit</a>
                        <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>